<div class="nav-menu">
  <div class="cart">
    <div class="name">
      <%= t 'cart.name' %>
    </div>
    <div class="content">
      <%= t 'cart.empty' %>
    </div>
  </div>
  <div class="services_accordion">
    <h5 id="all" ><a href="#"> <%= t 'services.all'  %></a></h5>
    <div>
    </div>
    <h5><a href="#"><%= t 'services.exterior' %></a></h5>
    <div>
      <ol>
        <li>
          <a><%= t "materials.metal" %></a>
        </li>
        <li>
          <a><%= t "materials.plastic" %></a>
        </li>
        <li>
          <a><%= t "materials.glass" %></a>
        </li>
        <li>
          <a><%= t "parts.disks" %></a>
        </li>
        <li>
          <a><%= t "parts.engine_cave" %></a>
        </li>
        <li>
          <a><%= t "parts.headlamp" %></a>
        </li>
      </ol>
    </div>

    <h5><a href="#"><%= t 'services.varnish' %></a></h5>
    <div>
      <ol>
        <li>
          <a><%= t "services.varnish_types.cleaning" %></a>
        </li>
        <li>
          <a><%= t "services.varnish_types.prepearing" %></a>
        </li>
        <li>
          <a><%= t "services.varnish_types.polishing" %></a>
        </li>
        <li>
          <a><%= t "services.varnish_types.protection" %></a>
        </li>
      </ol>
    </div>
    <h5><a href="#"><%= t 'services.interior' %></a></h5>
    <div>
      <ol>
        <li>
          <a><%= t "materials.plastic" %></a>
        </li>
        <li>
          <a><%= t "materials.glass" %></a>
        </li>
        <li>
          <a><%= t "materials.textile_only" %></a>
        </li>
        <li>
          <a><%= t "materials.leather" %></a>
        </li>
      </ol>
    </div>
  </div>
</div>