- @services.each do |service|
  .item
    .pic
      %img{:src=> service.image, :alt => "Service"}
    .item-description
      .name
        = service.name
      .options
        .basic{:class => service.basic_program.nil? ? "" : "buy"}
          .name
            = "#{t 'programs.basic_name'} :"
          %span.value
            = service.basic_program.nil? ? t('included') : "#{service.basic_program} #{t 'curency'}"
        .express{:class => service.express_program.nil? ? "" : "buy"}
          .name
            = "#{t 'programs.express_name'} :"
          %span.value
            = service.express_program.nil? ? t('included') : "#{service.express_program} #{t 'curency'}"
    .buttons
      .buy-button
        .btn.btn-inverse
          %i.icon-shopping-cart.icon-white
          = t 'programs.order'
      .detail
        %a{:href=> service_url(service)}
          =t 'detail'