- @services.each do |service|
  .item
    .pic
      %img{:src=> service.image, :alt => "Service"}
    .item-description
      .name
        = service.name
      .options
        .basic{:class => get_price_class(service.basic_program)}
          .name
            = "#{t 'programs.basic_name'} :"
          %span.value
            = get_price_name(service.basic_program)
        .express{:class => get_price_class(service.express_program)}
          .name
            = "#{t 'programs.express_name'} :"
          %span.value
            = get_price_name(service.express_program)
    .buttons
      .buy-button
        .btn.btn-inverse
          %i.icon-shopping-cart.icon-white
          = t 'programs.order'
      .detail
        %a{:href=> service_url(service)}
          =t 'detail'