<div class="top-banner">
  <img src="<%= image_path("top_banner.jpg")%>">
</div>
<div class="services-main">
  <%= render :partial => 'nav_menu' %>
  <div class="services-items">
    <% if params[:banner]%>
        <div class="service-header">
          <div class="messagge1"><%= t 'services.message1' %></div>
          <div class="messagge-bold"><%= t 'services.message-bold' %></div>
          <div class="messagge2"><%= t 'services.message2.html' %></div>
          <div class="messagge-icon"><img src="<%= image_path("info_icon.png") %>" alt="info"></div>
        </div>
    <% end%>
    <div class="programms">
      <%= render :partial => 'prgrams' %>
    </div>
  </div>
  <div class="tabbable service-items"> <!-- Only required for left/right tabs -->
    <div class="paginator">
      <%= paginate @services, :remote => true , :theme => 'bootstrap', :window =>2, :params => {:type =>"allservices", :tag => params[:tag]} %>
    </div>
    <ul class="nav nav-tabs">
      <li class=<%= get_active_tab(:all)-%>><a href="#allservices" data-toggle="tab"><%= t 'services.all_short' %></a></li>
      <li class=<%= get_active_tab(:basic)-%>><a href="#basic" data-toggle="tab" data-url="<%= -%>"><%= t 'programs.basic' %></a></li>
      <li class=<%= get_active_tab(:express)-%>><a href="#express" data-toggle="tab" data-url="<%= -%>"><%= t 'programs.express' %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="allservices" data-url="<%= services_url :type => "allservices", :tag => params[:tag] -%>" >
        <%= render :partial => 'service_items' %>
      </div>
      <div class="tab-pane" id="basic" data-url="<%= services_url :type => "basic", :tag => params[:tag]-%>">
        <p></p>
      </div>
      <div class="tab-pane" id="express" data-url="<%= services_url :type => "express", :tag => params[:tag] -%>">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item-bottom-navigation">
  </div>
</div>
