<div class="services_accordion">
  <h3><a href="#"> <%= t 'services.all'  %></a></h3>
  <div>

  </div>
  <h3><a href="#"><%= t 'services.exterior' %></a></h3>
  <div>
  </div>

  <h3><a href="#"><%= t 'services.varnish' %></a></h3>
  <div>
     <ol>
       <li>
        <a><%= t "services.varnish_types.cleaning" %></a>
       </li>
       <li>
         <a><%= t "services.varnish_types.polishing" %></a>
       </li>
       <li>
         <a><%= t "services.varnish_types.prepearing" %></a>
       </li>
       <li>
         <a><%= t "services.varnish_types.protection" %></a>
       </li>
     </ol>
  </div>
  <h3><a href="#"><%= t 'services.interior' %></a></h3>
  <div>

  </div>
</div>

