<div class="top-banner">
  <img src="<%= image_path("top_banner.jpg")%>">
</div>
<div class="services-main">
  <%= render :partial => 'nav_menu' %>
  <div class="services-items">
    <div class="service-header">
      <div class="messagge1"><%= t 'services.message1' %></div>
      <div class="messagge-bold"><%= t 'services.message-bold' %></div>
      <div class="messagge2"><%= t 'services.message2.html' %></div>
      <div class="messagge-icon"><img src="<%= image_path("info_icon.png") %>" alt="info"></div>
    </div>
    <div class="programms">
      <div class="basic">
        <div class="shild">
        </div>
        <div class="prices">
          <div class="car-logo">
            <div class="car1"> </div>
            <div class="car2"></div>
            <div class="car3"></div>
            <div class="car4"></div>
          </div>
          <div class="price">
            <div><span>990</span> <%=t 'curency'  %></div>
            <div><span>1190</span> <%=t 'curency'  %></div>
            <div><span>1390</span> <%=t 'curency'  %></div>
            <div><span>1590</span> <%=t 'curency'  %></div>
          </div>
        </div>
        <div class="description">
          <%= t 'programs.basic_long_desc' %>
        </div>
        <div class="buttons">
          <div class="order">
            <button class="btn btn-danger">
              <i class="icon-shopping-cart"> </i> <%= t 'programs.order' %>
            </button>
          </div>
          <div class="include">
            <a href="#"> <%= t 'programs.inclusion' %></a>
          </div>
        </div>
      </div><div class="express">
      <div class="shild">
      </div>
      <div class="prices">
        <div class="car-logo">
          <div class="car1"> </div>
          <div class="car2"></div>
          <div class="car3"></div>
          <div class="car4"></div>
        </div>
        <div class="price">
          <div><span>220</span> <%=t 'curency'  %></div>
          <div><span>300</span> <%=t 'curency'  %></div>
          <div><span>390</span> <%=t 'curency'  %></div>
          <div><span>460</span> <%=t 'curency'  %></div>
        </div>
      </div>
      <div class="description">
        <%= t 'programs.express_long_desc' %>
      </div>
      <div class="buttons">
        <div class="order">
          <button class="btn btn-danger">
            <i class="icon-shopping-cart"> </i> <%= t 'programs.order' %>
          </button>
        </div>
        <div class="include">
          <a href="#"> <%= t 'programs.inclusion' %></a>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="tabbable service-items"> <!-- Only required for left/right tabs -->
    <div class="paginator">
      <%= paginate @services, :remote => true , :theme => 'bootstrap', :params => {:type =>"allservices"} %>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#allservices" data-toggle="tab"><%= t 'services.all_short' %></a></li>
      <li><a href="#basic" data-toggle="tab" data-url="<%= -%>"><%= t 'programs.basic' %></a></li>
      <li><a href="#express" data-toggle="tab" data-url="<%= -%>"><%= t 'programs.express' %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="allservices" data-url="<%= services_url :type => "allservices" -%>" >
        <%= render :partial => 'service_items' %>
      </div>
      <div class="tab-pane" id="basic" data-url="<%= services_url :type => "basic"-%>">
        <p></p>
      </div>
      <div class="tab-pane" id="express" data-url="<%= services_url :type => "express" -%>">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item-bottom-navigation">

  </div>
</div>
