.top-banner
  %img{ :src => image_path("top_banner.jpg"), :alt => ""}
.services-main
  = render( :partial => 'nav_menu')
  .service-content
    .service-name
      = t 'services.thorough.defect_removal.name'
    .service
      .background-div
        .top-div
        .line
        .bottom-div
      .main-description
        .service-image
          %img{:src => image_path("programs/udaleniegologramm_l.jpg"), :alt => ""}
        .service
          .description
            .title
              = t 'services.thorough.description'
            .text
              = t 'services.thorough.defect_removal.text'
          .features
            .title
              = t 'services.thorough.features'
            .images
              %img{:src => image_path("features/bezopasnodlyalaka.png"), :alt => ""}
              %img{:src => image_path("features/dapolisher.png"), :alt => ""}
              %img{:src => image_path("features/idealnoesostoyanie.png"), :alt => ""}
              %img{:src => image_path("features/step2.png"), :alt => ""}
          .photo
            %button.btn
              = t 'services.thorough.photo'
          .prices
            .title
              = t 'services.thorough.price'
            .basic
              .name
                = t 'programs.in_basic'
              .price
                = "310 #{ t 'curency'}"
            .express
              .name
                = t 'programs.in_express'
              .price
                = "420 #{ t 'curency'}"
          .order
            %button.btn.btn-danger
              = t 'programs.order'
  .used-products
    .name
      = t 'products.used_products'
    .line
    .products
      %img{:src => image_path("meguaers/meguiars_scratchx_s.jpg"), :alt =>""}
      %img{:src => image_path("meguaers/meguiars_swirlxl_s.jpg"), :alt =>""}
      %img{:src => image_path("meguaers/meguiars_ultimatecompound_s.jpg"), :alt =>""}