.top-banner
  %img{ :src => image_path("top_banner.jpg"), :alt => ""}
.services-main
  = render( :partial => 'nav_menu')
  .service-content
    .service-name
      = @service.name
    .service
      .background-div
        .top-div
        .line
        .bottom-div
      .main-description
        .service-image
          %img{:src => image_path(@service.image), :alt => @service.name}
        .service
          .description
            .title
              = t 'services.thorough.description'
            .text
              = @service.description
          .features
            .title
              = t 'services.thorough.features'
            .images
              - @service.service_features.each do |feature|
                %img{:src => image_path(feature.image), :alt => feature.name}
          .photo
            %button.btn
              = t 'services.thorough.photo'
          .prices
            .title
              = t 'services.thorough.price'
            .basic
              .name
                = t 'programs.in_basic'
              .price
                = @service.basic_program.nil? ? t('included') : "#{@service.basic_program} #{t 'curency'}"
            .express
              .name
                = t 'programs.in_express'
              .price
                = @service.express_program.nil? ? t('included') : "#{@service.express_program} #{t 'curency'}"
          .order
            %button.btn.btn-danger
              = t 'programs.order'
  .used-products
    .name
      = t 'products.used_products'
    .line
    .products
      %img{:src => image_path("meguaers/meguiars_scratchx_s.jpg"), :alt =>""}
      %img{:src => image_path("meguaers/meguiars_swirlxl_s.jpg"), :alt =>""}
      %img{:src => image_path("meguaers/meguiars_ultimatecompound_s.jpg"), :alt =>""}