.top-banner
  %img{:src=>image_path("contacts_banner.jpg")}
.contacts
  .navigation
    .service-info
      .service-name
        = t 'contacts.service_name'
      .address
        .name
          = t 'contacts.address_name'
        .content
          = t 'contacts.address'
      .phone
        .name
          = t 'contacts.phone_name'
        .content
          = t 'contacts.phone'
      .email
        .name
          = t 'contacts.email'
        .content
          %a{:href=>"#"}
            = t 'contacts.letter'
      .work-time
        .name
          = t 'contacts.work_name'
        .content
          = t 'contacts.work_time'
      .media-button
        %button.btn
          = t 'services.thorough.photo'
  .map-viewer
    .background-div
      .top-div
      .line
      .bottom-div
    .media-content
      .header-content
        .header
          = t 'contacts.map_name'
      .map
        <iframe width="662" height="478" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ru/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=208174728848568170677.0004b1c53653c4202c710&amp;ll=50.500835,30.496776&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe><br /><small>Просмотреть <a href="http://maps.google.ru/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=208174728848568170677.0004b1c53653c4202c710&amp;ll=50.500835,30.496776&amp;spn=0,0&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">ул. Маршала Малиновского, 12, Киев, город Киев, Украина</a> на карте большего размера</small>