<div  class="main_carousel">
  <div class="main_gallery_controls">
    <div class="galary_pagination"><div  id="main_carousel_pag"></div></div>
  </div>
  <!-- Carousel items -->
  <div class="main_carousel_container">
    <img src="<%= image_path("top_banner01.jpg")-%>" alt="" >
    <img src="<%= image_path("top_banner02.jpg")-%>" alt="" >
    <img src="<%= image_path("top_banner03.jpg")-%>" alt="" >
    <img src="<%= image_path("top_banner04.jpg")-%>" alt="" >
  </div>
  <!-- Carousel nav -->

</div>
<div class="image_carousel">

  <div id="slider1" class="slider1">
    <!-- Carousel items -->
    <img src="<%= image_path("galary/slide_avtomoikaabonement.jpg")-%>" alt="">
    <img src="<%= image_path("galary/slide_avtomoikagarantiya.jpg")-%>" >
    <img src="<%= image_path("galary/slide_lutshayaavtomoika.jpg")-%>" alt="">
    <img src="<%= image_path("galary/slide_moikaparom.jpg")-%>"  alt="">
    <img src="<%= image_path("galary/slide_meguiars.jpg")-%>" >
    <img src="<%= image_path("galary/slide_lutshayaavtomoika.jpg")-%>" alt="">
  </div>
  <div class="clearfix"></div>
  <div class="gallery_controls">
    <a class="prev" id="slider1_prev" href="#"><span>prev</span></a>
    <a class="next" id="slider1_next" href="#"><span>next</span></a>
  </div>
</div>