.top-banner
  %img{ :src => image_path("product_banner.jpg"), :alt => ""}
.products
  .product-nav
    .services_accordion
      %h5#all
        %a{:href=> products_url }
          = t 'products.all'
      %div
      = render :partial => "shared/service_havigation"
  .product-content
    .header-label
      .text_content
        = t 'products.autocosmetic'
    .items
      .header
        = t 'products.products_we_use'
      .paginator
        = paginate @products, :theme => 'bootstrap', :window =>2, :params => {:tag => params[:tag]}
      .line
      .items_content
        - @products.each do |product|
          .item{:data => {:href => product_path(product)}}
            %img{:src=> image_path(product.image), :alt => product.name}
            .description
              = product.name
      .line