<div class="footer">
  <div class="upper-footer-main">
    <div class="upper-footer">
      <div class="products">
        <div class="name">
          <%= t 'products.name' %>
        </div>
        <div class="upper-footer-products">
          <ul>
            <li><a href="<%= products_url(:tag => [t('services.varnish_types.cleaning')]) -%>"><%= t 'services.varnish_types.cleaning' %></a></li>
            <li><a href="<%= products_url(:tag => [t('services.varnish_types.prepearing')]) -%>"><%= t('services.varnish_types.prepearing') %></a></li>
            <li><a href="<%= products_url(:tag => [t('services.varnish_types.polishing')]) -%>"><%= t 'services.varnish_types.polishing' %></a></li>
            <li><a href="<%= products_url(:tag => [t('services.varnish_types.protection')]) -%>"><%= t('services.varnish_types.protection') %></a></li>
            <li><a href="<%= products_url(:tag => [t('services.varnish_types.care')]) -%>"><%= t('services.varnish_types.care') %></a></li>
          </ul>
          <ul>
            <li><a href="<%= products_url(:tag => [t('materials.varnish')]) -%>"><%= t('materials.varnish') %></a></li>
            <li><a href="<%= products_url(:tag => [t('materials.metal')]) -%>"><%= t('materials.metal') %></a></li>
            <li><a href="<%= products_url(:tag => [t('materials.plastic')]) -%>"><%= t('materials.plastic') %></a></li>
            <li><a href="<%= products_url(:tag => [t('materials.glass')]) -%>"><%= t('materials.glass') %></a></li>
            <li><a href="<%= products_url(:tag => [t('materials.ruber')]) -%>"><%= t('materials.ruber') %></a></li>
            <li><a href="<%= products_url(:tag => [t('materials.textile')]) -%>"><%= t('materials.textile') %></a></li>
          </ul>
        </div>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">
      <div class="service">
        <div class="name">
          <%= t 'services.name' %>
        </div>
        <div>
          <div class="upper-footer-s">
            <ul>
              <li><a href="<%= services_url(:tag => t('services.varnish'))-%>"><%= t('services.varnish') %></a></li>
              <li><a href="<%= services_url(:tag => t 'services.varnish_types.cleaning')-%>"><%= t 'services.varnish_types.cleaning' %></a></li>
              <li><a href="<%= services_url(:tag => t 'services.varnish_types.prepearing')-%>"><%= t 'services.varnish_types.prepearing' %></a></li>
              <li><a href="<%= services_url(:tag => t 'services.varnish_types.polishing')-%>"><%= t 'services.varnish_types.polishing' %></a></li>
              <li><a href="<%= services_url(:tag => t 'services.varnish_types.protection')-%>"><%= t 'services.varnish_types.protection' %></a></li>
            </ul>
            <ul>
              <li><a href="<%= services_url(:tag => t 'materials.metal')-%>"><%= t 'materials.metal' %></a></li>
              <li><a href="<%= services_url(:tag => t 'materials.plastic')-%>"><%= t 'materials.plastic' %></a></li>
              <li><a href="<%= services_url(:tag => t 'materials.glass')-%>"><%= t 'materials.glass' %></a></li>
              <li><a href="<%= services_url(:tag => t 'parts.disks')-%>"><%= t 'parts.disks' %></a></li>
              <li><a href="<%= services_url(:tag => t 'parts.engine_cave')-%>"><%= t 'parts.engine_cave' %></a></li>
              <li><a href="<%= services_url(:tag => t 'parts.headlamp')-%>"><%= t 'parts.headlamp' %></a></li>
              <li><a href="<%= services_url(:tag => t 'materials.textile')-%>"><%= t 'materials.textile' %></a></li>
            </ul>
          </div>
          <div class="upper-footer-ps">
            <ul>
              <li><a href="<%= services_url-%>"><%= t 'programs.basic' %></a></li>
              <li><a href="<%= services_url-%>"><%= t 'programs.express' %></a></li>
            </ul>
            <ul>
              <li><a href="<%= services_url(:tag => t('services.interior'))-%>"><%= t 'services.interior' %></a></li>
              <li><a href="<%= services_url(:tag => t('services.exterior'))-%>"><%= t 'services.exterior' %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">
      <div class="contact">
        <div class="name">
          <%= t 'contacts.name' %>
        </div>
        <div class="address">
          <%= t 'contacts.address' %>
        </div>
        <div class="phone">
          <%= "#{t 'contacts.phone_name'} #{t 'contacts.phone'}" %>
        </div>
        <div class="letter">
          <a href="#"> <%= t 'contacts.letter' %> </a>
        </div>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">

      <div class="subscription">
        <div class="resources">
          <a href="http://www.facebook.com/dreamshineua">
          <img src="<%= image_path("facebook.png") %>" alt=""></a>
          <a href="http://www.youtube.com/dreamshineua">
          <img src="<%= image_path("youtube.png") %>" alt=""></a>
        </div>
        <div class="form">
          <div>
            <%= t 'subscription.name' %>
          </div>
          <form action="">
            <div class="subscribe">
              <input class="subscribe-button" type="text">
            </div>
            <div>
              <%= submit_tag t 'subscription.subscribe' %>
            </div>
          </form>
        </div>
      </div>
      <div class="stripe"><img src="<%= image_path("linelight.jpg") %>" alt=""></div>
      <div class="lower-footer">
        <div class="copyrigts">
          <a href="#"><%= t 'rights.name' %> </a>
        </div>
        <div class="better">
          <a href="#"><%= t 'rights.better' %></a>
        </div>
        <div class="usage">
          <a href="#"><%= t 'rights.usage' %></a>
        </div>
        <div class="info">
          <a href="#"><%= t 'rights.info' %></a>
        </div>
        <div class="faq">
          <a href="#"><%= t 'rights.faq' %></a>
        </div>
        <div class="map">
          <a href="#"><%= t 'rights.map' %></a>
        </div>
        <div class="personal">
          <a href="#"><%= t 'rights.personal' %></a>
        </div>
      </div>
    </div>
  </div>
</div>