<div class="footer">
  <div class="upper-footer-main">
    <div class="upper-footer">
      <div class="products">
        <div class="name">
          <%= t 'products' %>
        </div>
        <ul>
          <li><a><%= t 'services.varnish_types.cleaning' %></a></li>
          <li><a><%= t 'services.varnish_types.prepearing' %></a></li>
          <li><a><%= t 'services.varnish_types.polishing' %></a></li>
          <li><a><%= t 'services.varnish_types.protection' %></a></li>
          <li><a><%= t 'services.varnish_types.care' %></a></li>
        </ul>
        <ul>
          <li><a><%= t 'materials.varnish' %></a></li>
          <li><a><%= t 'materials.metal' %></a></li>
          <li><a><%= t 'materials.plastic' %></a></li>
          <li><a><%= t 'materials.glass' %></a></li>
          <li><a><%= t 'materials.ruber' %></a></li>
          <li><a><%= t 'materials.textile' %></a></li>
        </ul>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">
      <div class="service">
        <div class="name">
          <%= t 'services.name' %>
        </div>
        <div>
          <div class="upper-footer-s">
            <ul>
              <li><a><%= t 'services.varnish' %></a></li>
              <li><a><%= t 'services.varnish_types.cleaning' %></a></li>
              <li><a><%= t 'services.varnish_types.prepearing' %></a></li>
              <li><a><%= t 'services.varnish_types.polishing' %></a></li>
              <li><a><%= t 'services.varnish_types.protection' %></a></li>
            </ul>
            <ul>
              <li><a><%= t 'materials.metal' %></a></li>
              <li><a><%= t 'materials.plastic' %></a></li>
              <li><a><%= t 'materials.glass' %></a></li>
              <li><a><%= t 'parts.disks' %></a></li>
              <li><a><%= t 'parts.engine_cave' %></a></li>
              <li><a><%= t 'parts.headlamp' %></a></li>
              <li><a></a></li>
            </ul>
          </div>
          <div class="upper-footer-ps">
            <ul>
              <li><a><%= t 'programs.basic' %></a></li>
              <li><a><%= t 'programs.express' %></a></li>
            </ul>
            <ul>
              <li><a><%= t 'services.interior' %></a></li>
              <li><a><%= t 'services.exterior' %></a></li>
            </ul>
          </div>
        </div>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">
      <div class="contact">
        <div class="name">
          <%= t 'contacts.name' %>
        </div>
        <div class="address">
          <%= t 'contacts.address' %>
        </div>
        <div class="phone">
          <%= t 'contacts.phone' %>
        </div>
        <div class="letter">
          <a href="#"> <%= t 'contacts.letter' %> </a>
        </div>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">

      <div class="subscription">
        <div class="resources">
          <img src="<%= image_path("facebook.png") %>" alt="">
          <img src="<%= image_path("youtube.png") %>" alt="">
        </div>
        <div class="form">
          <div>
            <%= t 'subscription.name' %>
          </div>
          <form action="">
            <div>
              <input type="text">
            </div>
            <div>
              <%= submit_tag t 'subscription.subscribe' %>
            </div>
          </form>
        </div>
      </div>
      <div class="stripe"><img src="<%= image_path("linelight.jpg") %>" alt=""></div>
      <div class="lower-footer">
        <div class="copyrigts">
          <a href="#"><%= t 'rights.name' %> </a>
        </div>
        <div class="personal">
          <a href="#"><%= t 'rights.personal' %></a>
        </div>
        <div class="usage">
          <a href="#"><%= t 'rights.usage' %></a>
        </div>
        <div class="info">
          <a href="#"><%= t 'rights.info' %></a>
        </div>
        <div class="faq">
          <a href="#"><%= t 'rights.faq' %></a>
        </div>
        <div class="map">
          <a href="#"><%= t 'rights.map' %></a>
        </div>
        <div class="personal">
          <a href="#"><%= t 'rights.personal' %></a>
        </div>
      </div>
    </div>
  </div>
</div>