<div class="footer">
  <div class="upper-footer-main">
    <div class="upper-footer">
      <div class="products">
        <div class="name">
          Продукты
        </div>
        <ul>
          <li><a>Чистка</a></li>
          <li><a>Уход</a></li>
          <li><a>Подготовка</a></li>
          <li><a>Полировка</a></li>
          <li><a>Защита</a></li>
          <li><a>Поддержание</a></li>
        </ul>
        <ul>
          <li><a>Пластик</a></li>
          <li><a>Стекло</a></li>
          <li><a>Резина</a></li>
          <li><a>Метал</a></li>
          <li><a>Мотор</a></li>
        </ul>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">
      <div class="service">
        <div class="name">
          Услуги
        </div>
        <ul>
          <li><a>Пластик</a></li>
          <li><a>Стекло</a></li>
          <li><a>Диски и шины</a></li>
          <li><a>Моторный отсек</a></li>
          <li><a>Фары</a></li>
          <li><a>Текстиль</a></li>
        </ul>
        <ul>
          <li><a>Чистка</a></li>
          <li><a>Уход</a></li>
          <li><a>Полировка</a></li>
          <li><a>Подготовка</a></li>
          <li><a>Защита</a></li>
        </ul>
        <ul>
          <li><a>Программа 1</a></li>
          <li><a>Программа 2</a></li>
        </ul>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">
      <div class="contact">
        <div class="name">
          Контакты
        </div>
        <div class="content">
            тел.: +38 (050) 413 09 31
            <br>
            +38 (093) 413 89 95
            <br>
            <br>
            info@dreamshine.com
            </div>
      </div>
      <img src="<%= image_path("u10_line.png") %>" class="line">

      <div class="subscription">
        <button class="btn" >online заказ услуг </button>
        <br>
        <div class="form">
          Подписка на акции и новинки
          <form action="">
            <input type="text"></input>
            <br>
            <%= submit_tag "Подписаться"%>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-footer-main">
    <div class="lower-footer">
      <div class="image-div">
        <img src="<%= image_path("u160_original.png") %>" alt="Dream result" class="brand-image">
      </div>
      <div class="copyrigts">
        © 2002-2012 DreamShine, Сеть сервисцентров по уходу за авто. <br>
        All rights reserved.
      </div>
      <div class="personal">
        <a href="#">Для персонала</a>
      </div>
    </div>
  </div>
</div>