<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Dream Shine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta content="text/html; charset=windows-1251" http-equiv="Content-Type">
  <meta content="IE=9" http-equiv="X-UA-Compatible">
  <meta name="keywords" content="">
  <meta name="author" content="Sergii Pervak">
  <meta name="description" content="">
  <meta content="Dream shine" property="og:site_name">
  <%= csrf_meta_tags %>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36774623-1']);
      _gaq.push(['_setDomainName', 'dreamshine.com.ua']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>
<body id="<%= params[:controller].parameterize %>_controller">
<%= render "layouts/header" %>
<div id="content">
  <%= yield %>
</div>
<%= render "layouts/footer" %>
</body>
</html>
